.input-square{
	border-radius: 0 !important;
}

.background-pic{
	background-image: url('../img/stethoscope-1.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 550px;
}

.icon-background{
	background-color: white;
	border-right: 0;
}

.input-border{
	border-left: 0
}

.login-btn{
	background-color: #005580 !important;
	border-color: #004466 !important;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-top: 50px !important;
    font-size: 14px;
    background-color: #f2f2f2 !important;
}

#sidebar {
    min-width: 230px;
    max-width: 230px;
    height: 100vh;
    background-color: #004466;
    position: fixed;
    z-index: 1;
    transition: all 0.3s;
    overflow: auto !important;
}

#sidebar.active {
    margin-left: -230px;
}

#content{
	position: absolute;
	margin-left: 230px;
	transition: all 0.3s;
	padding: 18px;
	width: calc(100% - 230px);
}


#sidebar ul li a{
	display: block;
	color: white;
}

#sidebar ul li a:hover{
	background-color: #006699;
	cursor: pointer;
}

.sidenavdrop{
	background-color: #00334d;
	display: none;
}

.sidenavdrop a:hover{
	background-color: #006699 !important;
}

.navbar{
	height: 50px !important;
}

.logout:visited{
	color:black !important;
}

.logout:active{
	color: black !important;
}

.link-card:hover{
	text-decoration: none;
}

.card-text{
	font-size: 16px !important;
}

.count{
	font-size: 35px !important;
}

.count-text{
	font-size:14px !important;
	font-weight: normal !important;
}

.current{
	background-color: #005580 !important;
	border-left: 3px solid white !important;
	-webkit- border-left: 3px solid white !important;
}

.progressbar-outer{
	width: 100px; 
	height: 90%; 
	bottom:0;
}

.progressbar-inner{
	margin-top: 300%;
	height: 3%;
	transition: background-color 0.5s;
	/*background-color: green;*/
}


body{
	background-color: #f2f2f2 !important;
}

.patient-datatable{
	padding: 500px !important;
}

.patient-datatable:hover{
	cursor: pointer !important;
	color: white !important;
	background-color: #3399ff !important;
}

.card{
	border: none !important;
}

/*.patient-details.modal{
	width: 100% !important;
}*/